.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: darkslategray;
}

.navbarItem {
  border: none;
  background-color: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  text-decoration: none;
  padding: 0px 10px;
  border-left: 2px solid wheat;
  height: 100%;
  cursor: pointer;
}

.navbarGreeting {
  color: aliceblue;
  font-size: 1.2rem;
  padding: 10px;
}
