.mainBlock {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
}

.mainButton {
  margin: 50px;
  width: 250px;
  height: 75px;
  font-size: 32px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: green;
}
