.registerBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px - 25px);
}

.linkToLogin {
  margin-top: 10px;
  color: teal;
}
