.btn {
  /* color: white;
  width: fit-content;
  height: 75px;
  padding: 5px 20px;
  font-size: 32px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal; */

  border: none;
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px;
  padding: 10px 15px 12px;
  text-align: center;

  min-width: 150px;
}

.btn:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.btn:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}
